li a {
    color: blue;
}

body {
    background: white url("images/background.png") no-repeat;
}

a.item {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 24px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    text-decoration: none;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}

a.button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    :hover {
        background-color: #005fb2;  
        border-color: #005fb2;
        text-decoration: underline;
    } 

}